<div class="col-md-8 offset-md-2">
  <h1>Commit Time</h1>
  <h4>
    Commit Time is a web application that uses the Github API to 
    determine how long you've spent writing code in your repositories.
  </h4>
  <hr>
  <p>
    To get started, click the button below to authorize Commit Time 
    to read your repository data (you will be redirected to Github).
  </p>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <a class="btn btn-primary btn-lg btn-block" href="/user" role="button">Authorize</a>
      <br>
      <p class="text-center">or</p>
      <p class="text-center">
        <a href="https://github.com/karagenit/commit-time-web">
          View the Source Code
        </a>
      </p>
    </div>
  </div>
</div>
