<html>
    <head>
    </head>
    <body>
        <h1>Analyze Your Time Spent Committing on Github</h1>
        <p>This website uses Github OAuth to read your repository commit information.</p>
        <a class="btn btn-success" href="/auth/create">Authorize</a>
    </body>
</html>
