<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.png">

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
            defer>
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <title>Commit Time</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Commit Time</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/user">Home</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" type="POST" action="/user">
          <input class="form-control mr-sm-2" type="search" name="login" placeholder="Username...">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="text-center">
          <span class="text-muted">
            &copy; Caleb Smith, 2018 &middot; 
            <a href="https://github.com/karagenit/commit-time-web">Source Code</a>
          </span>
        </div>
      </div>
    </div>

  </body>
</html>
