<h1><%= name %></h1>

<button class="btn btn-outline-success" id="btn-populate" onclick="populateCache()">
  Update Repo List
</button>
<button class="btn btn-outline-success" id="btn-update" onclick="forceUpdateCache()">
  Update All Repos
</button>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Repo Name</th>
      <th>Total Time</th>
      <th>Commits</th>
      <th>Time per Commit</th>
    </tr>
  </thead>
  <tbody id="tbody">
  </tbody>
</table>

<script src="/js/user.js"></script>
