<h1><%= name %></h1>

<button class="btn btn-outline-success" onclick="populateCache()">Update Repo List</button>
<button class="btn btn-outline-success" onclick="forceUpdateCache()">Update All Repos</button>

<table class="table">
  <thead>
    <tr>
      <th>Repo Name</th>
      <th>Time Spent</th>
    </tr>
  </thead>
  <tbody id="tbody">
  </tbody>
</table>

<script src="/js/user.js"></script>
